export('MetaboSignal_matrix')
export('MetaboSignal_distances')
export('MetaboSignal_NetworkCytoscape')
export('MS_ChangeNames')
export('MS_GetShortestpaths')
export('MS_FilterNetwork')
export('MS_NodeBW')
export('MS_ToCytoscape')
export('MS_FindKEGG')
export('MS_GetKEGG_GeneID')
export('MS_FindMappedNodes')
export('MS_ReplaceNode')
export('MS_RemoveNode')
import('KEGGgraph')
import('mygene')
import('hpar')
import('KEGGREST')
importFrom('igraph',distances,graph.data.frame,get.shortest.paths,get.all.shortest.paths,betweenness)
import('org.Hs.eg.db')
import('RCurl')
importFrom('biomaRt',select)
import('AnnotationDbi')
importFrom("graphics", "hist")
importFrom("stats", "na.omit")
importFrom("utils", "capture.output", "write.table")
