export('MS_keggNetwork')
export('MS_reactionNetwork')
export('MS_distances')
export('MS_shortestPathsNetwork')
export('MS_changeNames')
export('MS_shortestPaths')
export('MS_topologyFilter')
export('MS_nodeBW')
export('MS_exportCytoscape')
export('MS_keggFinder')
export('MS_convertGene')
export('MS_findMappedNodes')
export('MS_replaceNode')
export('MS_removeDrugs')
export('MS_removeNode')
export('MS_tissueFilter')
export('MS2_ppiNetwork')
export('MS2_mergeNetworks')
export('MS_getPathIds')
import('KEGGgraph')
import('hpar')
import('KEGGREST')
import('mygene')
import('MWASTools')
import('org.Hs.eg.db')
importFrom('biomaRt',select)
import('AnnotationDbi')
importFrom('igraph',distances,graph.data.frame,get.shortest.paths,get.all.shortest.paths,betweenness)
import('EnsDb.Hsapiens.v75')
import('RCurl')
importFrom("graphics", "hist")
importFrom("stats", "na.omit")
importFrom("utils", "capture.output", "write.table")
